 /*Background color of the web page*/
body {
      background-color: rgba(201, 76, 76, 0.281);
      }

/*Styling for the header*/
h1 {
    font-size: 40px;
    font-family: 'Lobster', cursive;
    color:rgb(124, 69, 69);
   }

/*Styling for the paragraph*/   
p {
    font-style: italic;
    font-size: 18px;
    color:rgb(119, 114, 114);
    width: 600px;
  }

/*Styling for header3*/
h3 {
    font-size: 25px;
    font-family: cursive;
    color:rgb(124, 69, 69);
  }

/*Styling for both ordered and unordered lists*/
ol, ul {
    color:rgb(119, 114, 114);
  }

:left {
    margin: 2in 3in;
  }



