 /*Background color of the web page*/
body {
      background-color: rgba(201, 76, 76, 0.281);
      }

/*Styling for the header*/
h1 {
    font-size: 40px;
    font-family: 'Lobster', cursive;
    color:rgb(124, 69, 69);
    margin: 15px;
   }

/*Styling for the paragraph*/   
p {
    font-style: italic;
    font-size: 18px;
    color:rgb(119, 114, 114);
    width: 600px;
    margin-top: 0px;
  }

/*Styling for header3*/
h3 {
    font-size: 25px;
    font-family: cursive;
    color:rgb(124, 69, 69);
  }

/*Styling for ordered lists*/
ol {
    color:rgb(119, 114, 114);
  }

/*Styling for unordered lists*/
ul {
    color:rgb(119, 114, 114);
}

/*Styling for the image*/
img {
    float: left;
    padding-bottom: 15px;
  }

.left {
    margin: 20px;
    float: left;
    width: 600px;
  }

.right {
    display: inline-block;
    width: 600px;
    float: left;
    margin: 20px;
    padding-top: 35px;
    margin-left: 30px;
  }

 "Complete styling and layout."*/
